<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzflood.Zhuanti_tzData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzflood.Zhuanti_tzPojo">
        select * from "zhuanti_tz"
        <where>
            <if test="stcdList != null and stcdList.size() > 0 ">
                and STCD in
                <foreach collection="stcdList" open="(" close=")" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="ztidList != null and ztidList.size() > 0 ">
                and ZT_ID in
                <foreach collection="ztidList" open="(" close=")" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="typeList != null and typeList.size() > 0 ">
                and TYPE in
                <foreach collection="typeList" open="(" close=")" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzflood.Zhuanti_tzPojo">
        insert into "zhuanti_tz"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="STCD != null and STCD != ''">
                STCD,
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE,
            </if>
            <if test="MAXVALUE != null">
                MAXVALUE,
            </if>
            <if test="MAXTM != null and MAXTM != ''">
                MAXTM,
            </if>
            <if test="MINVALUE != null">
                MINVALUE,
            </if>
            <if test="MINTM != null and MINTM != ''">
                MINTM,
            </if>
            <if test="ZT_ID != null and ZT_ID != ''">
                ZT_ID,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="STCD != null and STCD != ''">
                #{STCD},
            </if>
            <if test="TYPE != null and TYPE != ''">
                #{TYPE},
            </if>
            <if test="MAXVALUE != null">
                #{MAXVALUE},
            </if>
            <if test="MAXTM != null and MAXTM != ''">
                #{MAXTM},
            </if>
            <if test="MINVALUE != null">
                #{MINVALUE},
            </if>
            <if test="MINTM != null and MINTM != ''">
                #{MINTM},
            </if>
            <if test="ZT_ID != null and ZT_ID != ''">
                #{ZT_ID},
            </if>
        </trim>
    </insert>

    <update id="upDateOne" parameterType="swzzmodeserver.workserver.pojo.swzzflood.Zhuanti_tzPojo">
        update "zhuanti_tz"
        <set>
            <if test="STCD != null and STCD != ''">
                STCD = #{STCD},
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE = #{TYPE},
            </if>
            <if test="MAXVALUE != null">
                MAXVALUE = #{MAXVALUE},
            </if>
            <if test="MAXTM != null and MAXTM != ''">
                MAXTM = #{MAXTM},
            </if>
            <if test="MINVALUE != null">
                MINVALUE = #{MINVALUE},
            </if>
            <if test="MINTM != null and MINTM != ''">
                MINTM = #{MINTM},
            </if>
            <if test="ZT_ID != null and ZT_ID != ''">
                ZT_ID = #{ZT_ID},
            </if>
        </set>
        where ID = #{ID}
    </update>

    <delete id="deleteOne" parameterType="string">
        delete from "zhuanti_tz" where ID = #{id}
    </delete>

    <insert id="insertAll" parameterType="swzzmodeserver.workserver.pojo.swzzflood.Zhuanti_tzPojo">
        insert into "zhuanti_tz"
        (
            ID,
            STCD,
            TYPE,
            MAXVALUE,
            MAXTM,
            MINVALUE,
            MINTM,
            ZT_ID
        )
        values
        <foreach collection="objList" item="obj" separator=",">
            (
            #{obj.ID},
            #{obj.STCD},
            #{obj.TYPE},
            #{obj.MAXVALUE},
            #{obj.MAXTM},
            #{obj.MINVALUE},
            #{obj.MINTM},
            #{obj.ZT_ID}
            )
        </foreach>
    </insert>

    <update id="upDateAll" parameterType="swzzmodeserver.workserver.pojo.swzzflood.Zhuanti_tzPojo">
        <foreach collection="objList" item="obj" separator=";">
            update "zhuanti_tz"
            <set>
                <if test="obj.STCD != null and obj.STCD != ''">
                    STCD = #{obj.STCD},
                </if>
                <if test="obj.TYPE != null and obj.TYPE != ''">
                    TYPE = #{obj.TYPE},
                </if>
                <if test="obj.MAXVALUE != null">
                    MAXVALUE = #{obj.MAXVALUE},
                </if>
                <if test="obj.MAXTM != null and obj.MAXTM != ''">
                    MAXTM = #{obj.MAXTM},
                </if>
                <if test="obj.MINVALUE != null">
                    MINVALUE = #{obj.MINVALUE},
                </if>
                <if test="obj.MINTM != null and obj.MINTM != ''">
                    MINTM = #{obj.MINTM},
                </if>
                <if test="obj.ZT_ID != null and obj.ZT_ID != ''">
                    ZT_ID = #{obj.ZT_ID},
                </if>
            </set>
            where ID = #{obj.ID}
        </foreach>
    </update>

    <delete id="deleteAll" parameterType="list">
        delete from "zhuanti_tz" where ID in
        <foreach collection="stcdList" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>