<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzwater.Water_ST_STBPRP_B_STCDData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzwater.Water_ST_STBPRP_B_STCDPojo">
        select * from ST_STBPRP_B_STCD
        <where>
            <if test="type != null and type.size() > 0">
                and TYPE in
                <foreach collection="type" open="(" close=")" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>