<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzdata.Qx_groupData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzdata.Qx_groupPojo">
        select a.* from "qx_group" a
        <where>

            <if test="ID != null and ID != ''">
                and QX_ID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and (
                QX_NAME like concat('%',concat(#{key},'%'))
                or QX_NOTE like concat('%',concat(#{key},'%'))
                )
            </if>
<!--            <if test="stime != null and stime != ''">-->
<!--                <![CDATA[ and TM >= #{stime} ]]>-->
<!--            </if>-->
<!--            <if test="etime != null and etime != ''">-->
<!--                <![CDATA[ and TM <= #{etime} ]]>-->
<!--            </if>-->
<!--            <if test="type != null">-->
<!--                and GROUPID in-->
<!--                <foreach collection="type" open="(" close=")" item="item" separator=",">-->
<!--                    #{item}-->
<!--                </foreach>-->
<!--            </if>-->
        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectCount" resultType="integer">
        SELECT count(1) FROM "qx_group"
        <where>
            <if test="ID != null and ID != ''">
                and QX_ID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and (
                QX_NAME like concat('%',concat(#{key},'%'))
                or QX_NOTE like concat('%',concat(#{key},'%'))
                )
            </if>
            <!--            <if test="stime != null and stime != ''">-->
            <!--                <![CDATA[ and TM >= #{stime} ]]>-->
            <!--            </if>-->
            <!--            <if test="etime != null and etime != ''">-->
            <!--                <![CDATA[ and TM <= #{etime} ]]>-->
            <!--            </if>-->
            <!--            <if test="type != null">-->
            <!--                and GROUPID in-->
            <!--                <foreach collection="type" open="(" close=")" item="item" separator=",">-->
            <!--                    #{item}-->
            <!--                </foreach>-->
            <!--            </if>-->
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzdata.Qx_groupPojo">
        insert into "qx_group"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="QX_ID != null and QX_ID != ''">
                QX_ID,
            </if>
            <if test="QX_NAME != null and QX_NAME != ''">
                QX_NAME,
            </if>
            <if test="QX_NOTE != null and QX_NOTE != ''">
                QX_NOTE,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="QX_ID != null and QX_ID != ''">
                #{QX_ID},
            </if>
            <if test="QX_NAME != null and QX_NAME != ''">
                #{QX_NAME},
            </if>
            <if test="QX_NOTE != null and QX_NOTE != ''">
                #{QX_NOTE},
            </if>
        </trim>
    </insert>

    <update id="updateOne" parameterType="swzzmodeserver.workserver.pojo.swzzdata.Qx_groupPojo">
        update "qx_group"
        <set>
            <if test="QX_NAME != null and QX_NAME != ''">
                QX_NAME = #{QX_NAME},
            </if>
            <if test="QX_NOTE != null and QX_NOTE != ''">
                QX_NOTE = #{QX_NOTE},
            </if>
        </set>
        where QX_ID = #{QX_ID}
    </update>
    <delete id="deleteOne">
        delete from "qx_group" where QX_ID = #{ID}
    </delete>

</mapper>