<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzdata.St_formula_rData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzdata.St_formula_rPojo">
        select a.* from "st_formula_r" a
        <where>

            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
            <if test="PID != null and PID != ''">
                and PID = #{PID}
            </if>
<!--            <if test="key != null and key != ''">-->
<!--                and SENDER like concat('%',concat(#{key},'%'))-->
<!--                or ACCEPTER like concat('%',concat(#{key},'%'))-->
<!--                or CONTENT like concat('%',concat(#{key},'%'))-->
<!--                or TYPEID like concat('%',concat(#{key},'%'))-->
<!--                or FLAG like concat('%',concat(#{key},'%'))-->
<!--            </if>-->
<!--            <if test="stime != null and stime != ''">-->
<!--                <![CDATA[ and TIME >= #{stime} ]]>-->
<!--            </if>-->
<!--            <if test="etime != null and etime != ''">-->
<!--                <![CDATA[ and TIME <= #{etime} ]]>-->
<!--            </if>-->
            <if test="type != null and type.size() > 0">
                and TYPE in
                <foreach collection="type" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectCount" resultType="integer">
        SELECT count(1) FROM "st_formula_r"
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
            <if test="PID != null and PID != ''">
                and PID = #{PID}
            </if>
            <!--            <if test="key != null and key != ''">-->
            <!--                and SENDER like concat('%',concat(#{key},'%'))-->
            <!--                or ACCEPTER like concat('%',concat(#{key},'%'))-->
            <!--                or CONTENT like concat('%',concat(#{key},'%'))-->
            <!--                or TYPEID like concat('%',concat(#{key},'%'))-->
            <!--                or FLAG like concat('%',concat(#{key},'%'))-->
            <!--            </if>-->
            <!--            <if test="stime != null and stime != ''">-->
            <!--                <![CDATA[ and TIME >= #{stime} ]]>-->
            <!--            </if>-->
            <!--            <if test="etime != null and etime != ''">-->
            <!--                <![CDATA[ and TIME <= #{etime} ]]>-->
            <!--            </if>-->
            <if test="type != null and type.size() > 0">
                and TYPE in
                <foreach collection="type" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzdata.St_formula_rPojo">
        insert into "st_formula_r"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="PID != null and PID != ''">
                PID,
            </if>
            <if test="WIND != null and WIND != ''">
                WIND,
            </if>
            <if test="ZSVALUE != null and ZSVALUE != ''">
                ZSVALUE,
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE,
            </if>
            <if test="NOTE != null and NOTE != ''">
                NOTE,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="PID != null and PID != ''">
                #{PID},
            </if>
            <if test="WIND != null and WIND != ''">
                #{WIND},
            </if>
            <if test="ZSVALUE != null and ZSVALUE != ''">
                #{ZSVALUE},
            </if>
            <if test="TYPE != null and TYPE != ''">
                #{TYPE},
            </if>
            <if test="NOTE != null and NOTE != ''">
                #{NOTE},
            </if>
        </trim>
    </insert>

    <update id="updateOne" parameterType="swzzmodeserver.workserver.pojo.swzzdata.St_formula_rPojo">
        update "st_formula_r"
        <set>
            <if test="PID != null and PID != ''">
                PID = #{PID},
            </if>
            <if test="WIND != null and WIND != ''">
                WIND = #{WIND},
            </if>
            <if test="ZSVALUE != null and ZSVALUE != ''">
                ZSVALUE = #{ZSVALUE},
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE = #{TYPE},
            </if>
            <if test="NOTE != null and NOTE != ''">
                NOTE = #{NOTE},
            </if>
        </set>
        where ID = #{ID}
    </update>
    <delete id="deleteOne">
        delete from "st_formula_r" where ID = #{ID}
    </delete>
</mapper>