<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzrtsq.ST_FLOW_RData">
    <select id="selectNew" resultType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_FLOW_RPojo">
        select A.STCD,A.TM,Z,Q,MSQMT from ST_FLOW_R as A inner join (
        select STCD,MAX(TM) TM from ST_FLOW_R
        <where>
            <if test="stime != null and stime != ''">
                <![CDATA[ and TM >= to_date(#{stime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ and TM <= to_date(#{etime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
        group by STCD
        ) as B on A.STCD = B.STCD and A.TM = B.TM
        <where>
            <if test="stcdList != null and stcdList.size() > 0">
                and A.STCD in
                <foreach collection="stcdList" open="(" close=")" item="stcd" separator=",">
                    #{stcd}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectHis" resultType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_FLOW_RPojo">
        select * from ST_FLOW_R
        <where>
            <if test="stcdList != null and stcdList.size() > 0">
                and STCD in
                <foreach collection="stcdList" open="(" close=")" item="stcd" separator=",">
                    #{stcd}
                </foreach>
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ and TM >= to_date(#{stime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ and TM <= to_date(#{etime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
    </select>

    <insert id="insertAll" parameterType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_FLOW_RPojo">
        insert into ST_FLOW_R(STCD, TM,Z,Q,MSQMT) values
        <foreach collection="quPojo" item="pojo" separator=",">
            (#{pojo.STCD},#{pojo.TM},#{pojo.Z},#{pojo.Q},#{pojo.MSQMT})
        </foreach>
    </insert>


    <select id="selectHisAll" resultType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_FLOW_RPojo">
        select * from ST_FLOW_R
        <where>
            <if test="stcdList != null and stcdList.size() > 0">
                and STCD in
                <foreach collection="stcdList" open="(" close=")" item="stcd" separator=",">
                    #{stcd}
                </foreach>
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ and TM >= to_date(#{stime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ and TM <= to_date(#{etime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
        order by tm asc
        <if test="startindex != null and pagesize != null">
               limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectHisAllCount" resultType="integer">
            SELECT count(1) FROM ST_FLOW_R
            <where>
            <if test="stcdList != null and stcdList.size() > 0">
                and STCD in
                <foreach collection="stcdList" open="(" close=")" item="stcd" separator=",">
                    #{stcd}
                </foreach>
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ and TM >= to_date(#{stime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ and TM <= to_date(#{etime},'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
    </select>
</mapper>