<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzrtsq.ST_RIVER_RData">
    <insert id="insertAll" parameterType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_RIVER_RPojo">
        insert into ST_RIVER_R(STCD,TM,Z,Q,XSA,XSAVV,XSMXV,FLWCHRCD,WPTN,MSQMT,MSAMT,MSVMT) values
        <foreach collection="quPojo" item="pojo" separator=",">
            (#{pojo.STCD},#{pojo.TM},#{pojo.Z},#{pojo.Q},#{pojo.XSA},#{pojo.XSAVV},#{pojo.XSMXV},
            #{pojo.FLWCHRCD},#{pojo.WPTN},#{pojo.MSQMT},#{pojo.MSAMT},#{pojo.MSVMT})
        </foreach>
    </insert>

    <update id="upDateMaxRiver" parameterType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_RIVER_RPojo">
        UPDATE st_stbprp_b_stcd a ,
            (
            select v.STCD, v.TM,v.Z UPZ from st_river_r v
            inner join (select STCD, max(TM) TM from st_river_r
            group by STCD) c on v.STCD = c.STCD and v.TM = c.TM
        ) b
        SET a.ZTM = b.TM,a.UPZ=b.UPZ,DWZ=NULL where a.STCD = b.STCD and TYPE = '1'
        <if test="STCD != null and STCD != ''">
            and a.STCD = #{STCD}
        </if>
    </update>

    <!-- 按站点+时间范围查询河道水位时序数据 -->
    <select id="selectListByTime" resultType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_RIVER_RPojo">
        SELECT STCD, TM, Z, Q, XSA, XSAVV, XSMXV, FLWCHRCD, WPTN, MSQMT, MSAMT, MSVMT
        FROM ST_RIVER_R
        <where>
            <if test="stcdList != null and stcdList.size() > 0">
                AND STCD IN
                <foreach collection="stcdList" item="stcd" open="(" separator="," close=")">
                    #{stcd}
                </foreach>
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ AND TM >= to_date(#{stime}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ AND TM <= to_date(#{etime}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
        ORDER BY STCD, TM
    </select>

    <!-- 按时间范围查询有水位数据的所有站点（去重） -->
    <select id="selectDistinctStcd" resultType="java.lang.String">
        SELECT DISTINCT STCD
        FROM ST_RIVER_R
        <where>
            <if test="stime != null and stime != ''">
                <![CDATA[ AND TM >= to_date(#{stime}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ AND TM <= to_date(#{etime}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
        ORDER BY STCD
    </select>
</mapper>