<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzrtsq.RTSQST_TIDE_RData">
    <insert id="insertAll" parameterType="swzzmodeserver.workserver.pojo.swzzrtsq.ST_TIDE_RPojo">
        insert into ST_TIDE_R(STCD, TM, TDZ, AIRP, TDCHRCD, TDPTN, HLTDMK, INTM) values
        <foreach collection="quPojo" item="pojo" separator=",">
            (#{pojo.STCD}, #{pojo.TM}, #{pojo.TDZ}, #{pojo.AIRP}, #{pojo.TDCHRCD}, #{pojo.TDPTN}, #{pojo.HLTDMK}, #{pojo.INTM})
        </foreach>
    </insert>

    <!-- 历史潮位补录：达梦 MERGE INTO 批量 upsert -->
    <insert id="upsertAll" parameterType="java.util.List">
        MERGE INTO ST_TIDE_R t
        USING (
            <foreach collection="quPojo" item="pojo" separator=" UNION ALL ">
                SELECT
                    #{pojo.STCD} AS STCD,
                    TO_DATE(#{pojo.TM}, 'YYYY-MM-DD HH24:MI:SS') AS TM,
                    #{pojo.TDZ} AS TDZ
                FROM DUAL
            </foreach>
        ) s ON (t.STCD = s.STCD AND t.TM = s.TM)
        WHEN MATCHED THEN UPDATE SET t.TDZ = s.TDZ
        WHEN NOT MATCHED THEN INSERT (STCD, TM, TDZ) VALUES (s.STCD, s.TM, s.TDZ)
    </insert>
</mapper>