<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzmode.COMPUTELISTData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzmode.COMPUTELISTPojo">
        select a.* from COMPUTELIST a
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and MNAME like concat('%',concat(#{key},'%'))
            </if>

        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectCount" resultType="integer">
        SELECT count(1) FROM COMPUTELIST
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and MNAME like concat('%',concat(#{key},'%'))
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.COMPUTELISTPojo">
        insert into COMPUTELIST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="MKEYID != null and MKEYID != ''">
                MKEYID,
            </if>
            <if test="MNAME != null and MNAME != ''">
                MNAME,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="MKEYID != null and MKEYID != ''">
                #{MKEYID},
            </if>
            <if test="MNAME != null and MNAME != ''">
                #{MNAME},
            </if>
        </trim>
    </insert>
    <insert id="insertALL" parameterType="swzzmodeserver.workserver.pojo.swzzmode.COMPUTELISTPojo">
        insert into COMPUTELIST(ID,MKEYID,MNAME) values
        <foreach collection="objList" item="obj" separator=",">
            (#{obj.ID},#{obj.MKEYID},#{obj.MNAME})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.COMPUTELISTPojo">
        update COMPUTELIST
        <set>
            <if test="MKEYID != null and MKEYID != ''">
                MKEYID = #{MKEYID},
            </if>
            <if test="MNAME != null and MNAME != ''">
                MNAME = #{MNAME},
            </if>
        </set>
        where ID = #{ID}
    </update>
    <delete id="deleteOne">
        delete from COMPUTELIST where ID = #{ID}
    </delete>
</mapper>