<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzmode.ES_MODELFANGANData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzmode.ES_MODELFANGANPojo">
        select a.*,rownum rnum from ES_MODELFANGAN a
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>

        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectCount" resultType="integer">
        SELECT count(1) FROM ES_MODELFANGAN
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_MODELFANGANPojo">
        insert into ES_MODELFANGAN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="FA_NAME != null and FA_NAME != ''">
                FA_NAME,
            </if>
            <if test="NOTE != null and NOTE != ''">
                NOTE,
            </if>
            <if test="Z != null">
                Z,
            </if>
            <if test="THFH != null and THFH != ''">
                THFH,
            </if>
            <if test="YNFH != null and YNFH != ''">
                YNFH,
            </if>
            <if test="MINDRP != null">
                MINDRP,
            </if>
            <if test="MAXDRP != null">
                MAXDRP,
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE,
            </if>
            <if test="YJZ != null">
                YJZ,
            </if>
            <if test="NEWFA_NAME != null and NEWFA_NAME != ''">
                NEWFA_NAME,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="FA_NAME != null and FA_NAME != ''">
                #{FA_NAME},
            </if>
            <if test="NOTE != null and NOTE != ''">
                #{NOTE},
            </if>
            <if test="Z != null">
                #{Z},
            </if>
            <if test="THFH != null and THFH != ''">
                #{THFH},
            </if>
            <if test="YNFH != null and YNFH != ''">
                #{YNFH},
            </if>
            <if test="MINDRP != null">
                #{MINDRP},
            </if>
            <if test="MAXDRP != null">
                #{MAXDRP},
            </if>
            <if test="TYPE != null and TYPE != ''">
                #{TYPE},
            </if>
            <if test="YJZ != null">
                #{YJZ},
            </if>
            <if test="NEWFA_NAME != null and NEWFA_NAME != ''">
                #{NEWFA_NAME},
            </if>
        </trim>
    </insert>
    <insert id="insertALL" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_MODELFANGANPojo">
        insert into ES_MODELFANGAN(ID,FA_NAME,NOTE,Z,THFH,YNFH,MINDRP,MAXDRP,TYPE,YJZ,NEWFA_NAME) values
        <foreach collection="objList" item="obj" separator=",">
            (#{obj.ID},#{obj.FA_NAME},#{obj.NOTE},#{obj.Z},#{obj.THFH},#{obj.YNFH},#{obj.MINDRP},#{obj.MAXDRP},#{obj.TYPE},#{obj.YJZ},#{obj.NEWFA_NAME})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_MODELFANGANPojo">
        update ES_MODELFANGAN
        <set>
            <if test="FA_NAME != null and FA_NAME != ''">
                FA_NAME = #{FA_NAME},
            </if>
            <if test="NOTE != null and NOTE != ''">
                NOTE = #{NOTE},
            </if>
            <if test="Z != null">
                Z = #{Z},
            </if>
            <if test="THFH != null and THFH != ''">
                THFH = #{THFH},
            </if>
            <if test="YNFH != null and YNFH != ''">
                YNFH = #{YNFH},
            </if>
            <if test="MINDRP != null">
                MINDRP = #{MINDRP},
            </if>
            <if test="MAXDRP != null">
                MAXDRP = #{MAXDRP},
            </if>
            <if test="TYPE != null and TYPE != ''">
                TYPE = #{TYPE},
            </if>
            <if test="YJZ != null">
                YJZ = #{YJZ},
            </if>
            <if test="NEWFA_NAME != null and NEWFA_NAME != ''">
                NEWFA_NAME = #{NEWFA_NAME},
            </if>
        </set>
        where ID = #{ID}
    </update>
    <delete id="deleteOne">
        delete from ES_MODELFANGAN where ID = #{ID}
    </delete>
    <delete id="deleteAll">
        delete from ES_MODELFANGAN
    </delete>
</mapper>