<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzmode.ES_PROFILEData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzmode.ES_PROFILEPojo">
        select a.* from ES_PROFILE a
        <where>
            <if test="ID != null and ID != ''">
                and STCD = #{ID}
            </if>

        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM ES_PROFILE
        <where>
            <if test="ID != null and ID != ''">
                and STCD = #{ID}
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_PROFILEPojo">
        insert into ES_PROFILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="X != null">
                X,
            </if>
            <if test="Y != null">
                Y,
            </if>
            <if test="STCD != null and STCD != ''">
                STCD,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="X != null">
                #{X},
            </if>
            <if test="Y != null">
                #{Y},
            </if>
            <if test="STCD != null and STCD != ''">
                #{STCD},
            </if>
        </trim>
    </insert>
    <insert id="insertALL" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_PROFILEPojo">
        insert into ES_PROFILE(ID,X,Y,STCD) values
        <foreach collection="objList" item="obj" separator=",">
            (#{obj.ID},#{obj.X},#{obj.Y},#{obj.STCD})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_PROFILEPojo">
        update ES_PROFILE
        <set>
            <if test="X != null">
                X = #{X},
            </if>
            <if test="Y != null">
                Y = #{Y},
            </if>
            <if test="STCD != null and STCD != ''">
                STCD = #{STCD},
            </if>
        </set>
        where ID = #{ID}
    </update>
    <delete id="deleteOne">
        delete from ES_PROFILE where ID = #{ID}
    </delete>
</mapper>