<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swzzmodeserver.workserver.data.swzzmode.ES_TIDALFORECASTData">
    <select id="selectList" resultType="swzzmodeserver.workserver.pojo.swzzmode.ES_TIDALFORECASTPojo">
        select a.* from "es_tidalforecast" a
        <where>
            <if test="ID != null and ID != ''">
                and a.STCD = #{ID}
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ and TM >= #{stime} ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ and TM <= #{etime} ]]>
            </if>
            <if test="ybstime != null and ybstime != ''">
                <![CDATA[ and YBTM >= #{ybstime} ]]>
            </if>
            <if test="ybetime != null and ybetime != ''">
                <![CDATA[ and YBTM <= #{ybetime} ]]>
            </if>
            <if test="type != null and type.size() > 0">
                and STATUS in
                <foreach collection="type" open="(" close=")" item="itemtype" separator=",">
                    #{itemtype,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
        order by YBTM desc
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectMaxYBTM" resultType="java.util.Date">
        SELECT MAX(YBTM) AS maxYBTM FROM "es_tidalforecast"
        <where>
            <if test="ybstime != null and ybstime != ''">
                <![CDATA[ AND YBTM >= #{ybstime} ]]>
            </if>
            <if test="ybetime != null and ybetime != ''">
                <![CDATA[ AND YBTM <= #{ybetime} ]]>
            </if>
            <if test="stcdList != null and stcdList.size() > 0">
                and STCD in
                <foreach collection="stcdList" open="(" close=")" item="stcd" separator=",">
                    #{stcd}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectMaxFast" resultType="swzzmodeserver.workserver.pojo.swzzmode.ES_TIDALFORECASTPojo">
        SELECT top 1 * FROM "es_tidalforecast"
        <where>
            <if test="stcd != null and stcd != ''">
               and stcd=#{stcd}
            </if>
            <if test="stime != null and stime != ''">
                <![CDATA[ AND tm >= #{stime} ]]>
            </if>
            <if test="etime != null and etime != ''">
                <![CDATA[ AND tm <= #{etime} ]]>
            </if>
        </where>
        order by tm desc
    </select>

    <insert id="insertOne" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_TIDALFORECASTPojo">
        insert into "es_tidalforecast"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="STCD != null and STCD != ''">
                STCD,
            </if>
            <if test="STNM != null and STNM != ''">
                STNM,
            </if>
            <if test="TM != null and TM != ''">
                TM,
            </if>
            <if test="FTM != null and FTM != ''">
                FTM,
            </if>
            <if test="YBTM != null and YBTM != ''">
                YBTM,
            </if>
            <if test="TDZ != null">
                TDZ,
            </if>
            <if test="ZS != null">
                ZS,
            </if>
            <if test="STATUS != null and STATUS != ''">
                STATUS,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="STCD != null and STCD != ''">
                #{STCD},
            </if>
            <if test="STNM != null and STNM != ''">
                #{STNM},
            </if>
            <if test="TM != null and TM != ''">
                #{TM},
            </if>
            <if test="YBTM != null and YBTM != ''">
                #{YBTM},
            </if>
            <if test="FTM != null and FTM != ''">
                #{FTM},
            </if>
            <if test="TDZ != null">
                #{TDZ},
            </if>
            <if test="ZS != null">
                #{ZS},
            </if>
            <if test="STATUS != null and STATUS != ''">
                #{STATUS},
            </if>
        </trim>
    </insert>
    <insert id="insertALL" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_TIDALFORECASTPojo">
        insert into "es_tidalforecast"(
        STCD,
        STNM,
        TM,
        YBTM,
        FTM,
        TDZ,
        ZS
        )
        values
        <foreach collection="objList" item="item" separator=",">
            (
            #{item.STCD,jdbcType=VARCHAR},
            #{item.STNM,jdbcType=VARCHAR},
            #{item.TM,jdbcType=VARCHAR},
            #{item.YBTM,jdbcType=VARCHAR},
            #{item.FTM,jdbcType=VARCHAR},
            #{item.TDZ,jdbcType=DOUBLE},
            #{item.ZS,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>

    <update id="updateALLSTATUS" parameterType="swzzmodeserver.workserver.pojo.swzzmode.ES_TIDALFORECASTPojo">
        <foreach collection="list" item="obj" separator=";">
            update ES_TIDALFORECAST
            <set>
                <if test="obj.STATUS != null and obj.STATUS != ''">
                    STATUS = #{obj.STATUS,jdbcType=VARCHAR},
                </if>
            </set>
            where YBTM = #{obj.YBTM,jdbcType=VARCHAR}
            and TM = #{obj.TM,jdbcType=VARCHAR}
            and FTM = #{obj.FTM,jdbcType=VARCHAR}
            and STCD= #{obj.STCD,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>